
<div id="footer" style="margin-top:20px;">
<div class="wrapper">
<div id="bottommenu">
<a href="/asp.net/index.htm" target="_top">ASP.NET </a> |
<a href="/jquery/index.htm" target="_top">jQuery </a> |
<a href="/ajax/index.htm" target="_top">AJAX </a> |
<a href="/ant/index.htm" target="_top">ANT</a> |
<a href="/jsp/index.htm" target="_top">JSP </a> |
<a href="/servlets/index.htm" target="_top">Servlets </a> |
<a href="/log4j/index.htm" target="_top">log4j </a> |
<a href="/ibatis/index.htm" target="_top">iBATIS </a> |
<a href="/hibernate/index.htm" target="_top">Hibernate </a> |
<a href="/jdbc/index.htm" target="_top">JDBC </a> |
<a href="/struts_2/index.htm" target="_top">Struts </a> |
<a href="/html5/index.htm" target="_top">HTML5 </a> |
<a href="/sql/index.htm" target="_top">SQL </a> |
<a href="/mysql/index.htm" target="_top">MySQL </a> |
<a href="/cplusplus/index.htm" target="_top">C++ </a> |
<a href="/unix/index.htm" target="_top">UNIX </a>
</div>
<div id="copyright">
<p>Copyright © 2017 by learningsolutions. All Rights Reserved.</p>
</div>
</div>
</div>