<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	<!-- Constructor Injection with Dependent Object -->
	<bean id="a1" class="org.vik.spr01.ci.Address">
		<constructor-arg value="ghaziabad" />
		<constructor-arg value="UP"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
	</bean>

	<bean id="e" class="org.vik.spr01.ci.Employee">
		<constructor-arg value="12" type="int"/>
		<constructor-arg value="vikas"/>
		<constructor-arg>
			<ref bean="a1" />
		</constructor-arg>
	</bean>

	<!-- Constructor Injection with Collection Example -->
	<bean id="ques2" class="org.vik.spr02.ci.collection.Question">
		<constructor-arg value="111"></constructor-arg>
		<constructor-arg value="What is java?"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Java is a programming language</value>
				<value>Java is a Platform</value>
				<value>Java is an Island of Indonasia</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Constructor Injection with Non-String Collection (having Dependent Object) Example -->
	<bean id="ans1" class="org.vik.spr03.ci.collection.Answer">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="Java is a programming language"></constructor-arg>
		<constructor-arg value="John"></constructor-arg>
	</bean>

	<bean id="ans2" class="org.vik.spr03.ci.collection.Answer">
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="Java is a Platform"></constructor-arg>
		<constructor-arg value="Ravi"></constructor-arg>
	</bean>

	<bean id="ques3" class="org.vik.spr03.ci.collection.Question">
		<constructor-arg value="111"></constructor-arg>
		<constructor-arg value="What is java?"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="ans1" />
				<ref bean="ans2" />
			</list>
		</constructor-arg>
	</bean>

	<!-- Constructor Injection with Map Example -->
	<bean id="ques4" class="org.vik.spr04.ci.map.Question">
		<constructor-arg value="11"></constructor-arg>
		<constructor-arg value="What is Java?"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key="Java is a Programming Language" value="Ajay Kumar"></entry>
				<entry key="Java is a Platform" value="John Smith"></entry>
				<entry key="Java is an Island" value="Raj Kumar"></entry>
			</map>
		</constructor-arg>
	</bean>


	<!-- Constructor Injection with Non-String Map (having dependent Object) Example -->
	<bean id="answer1" class="org.vik.spr05.ci.map.Answer">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="Java is a Programming Language"></constructor-arg>
		<constructor-arg value="12/12/2001"></constructor-arg>
	</bean>
	<bean id="answer2" class="org.vik.spr05.ci.map.Answer">
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="Java is a Platform"></constructor-arg>
		<constructor-arg value="12/12/2003"></constructor-arg>
	</bean>

	<bean id="user1" class="org.vik.spr05.ci.map.User">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="Arun Kumar"></constructor-arg>
		<constructor-arg value="arun@gmail.com"></constructor-arg>
	</bean>
	<bean id="user2" class="org.vik.spr05.ci.map.User">
		<constructor-arg value="2"></constructor-arg>
		<constructor-arg value="Varun Kumar"></constructor-arg>
		<constructor-arg value="Varun@gmail.com"></constructor-arg>
	</bean>

	<bean id="ques5" class="org.vik.spr05.ci.map.Question">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg value="What is Java?"></constructor-arg>
		<constructor-arg>
			<map>
				<entry key-ref="answer1" value-ref="user1"></entry>
				<entry key-ref="answer2" value-ref="user2"></entry>
			</map>
		</constructor-arg>
	</bean>

	<!-- Inheriting Bean in Spring -->
	<bean id="emp1" class="org.vik.spr06.di.inheritingBean.Employee">
		<constructor-arg value="101"></constructor-arg>
		<constructor-arg value="Sachin"></constructor-arg>
	</bean>

	<bean id="address6" class="org.vik.spr06.di.inheritingBean.Address">
		<constructor-arg value="21,Lohianagar"></constructor-arg>
		<constructor-arg value="Ghaziabad"></constructor-arg>
		<constructor-arg value="UP"></constructor-arg>
		<constructor-arg value="USA"></constructor-arg>
	</bean>

	<bean id="emp6" class="org.vik.spr06.di.inheritingBean.Employee"
		parent="emp1">
		<constructor-arg ref="address6"></constructor-arg>
	</bean>

	<!-- Dependency Injection by setter method -->
	<bean id="emp7" class="org.vik.spr07.si.Employee">
		<property name="id" value="20" />
		<property name="name">
			<value>Arun</value>
		</property>
		<property name="city">
			<value>ghaziabad</value>
		</property>
	</bean>

	<!-- Setter Injection with Dependent Object Example -->
	<bean id="address8" class="org.vik.spr08.si.dependentObject.Address">
		<property name="addressLine1" value="51,Lohianagar"></property>
		<property name="city" value="Ghaziabad"></property>
		<property name="state" value="UP"></property>
		<property name="country" value="India"></property>
	</bean>

	<bean id="emp8" class="org.vik.spr08.si.dependentObject.Employee">
		<property name="id" value="1" />
		<property name="name" value="Sachin Yadav" />
		<property name="address">
			<ref bean="address8" />
		</property>
	</bean>

	<!-- Setter Injection with Collection Example -->
	<bean id="ques9" class="org.vik.spr09.si.collection.Question">
		<property name="id" value="1"></property>
		<property name="name" value="What is Java?"></property>
		<property name="answers">
			<list>
				<value>Java is a programming language</value>
				<value>Java is a platform</value>
				<value>Java is an Island</value>
			</list>
		</property>
	</bean>


	<!-- Setter Injection with Non-String Collection (having Dependent Object) Example -->
	<bean id="ansA" class="org.vik.spr10.si.collection.Answer">
		<property name="id" value="1"></property>
		<property name="name" value="Java is a programming language"></property>
		<property name="by" value="Ravi Malik"></property>
	</bean>
	<bean id="ansB" class="org.vik.spr10.si.collection.Answer">
		<property name="id" value="2"></property>
		<property name="name" value="Java is a platform"></property>
		<property name="by" value="Sachin"></property>
	</bean>

	<bean id="ques10" class="org.vik.spr10.si.collection.Question">
		<property name="id" value="1"></property>
		<property name="name" value="What is Java?"></property>
		<property name="answers">
			<list>
				<ref bean="ansA" />
				<ref bean="ansB" />
			</list>
		</property>
	</bean>

	<!-- Setter Injection with Map Example -->
	<bean id="ques11" class="org.vik.spr11.si.map.Question">
		<property name="id" value="1"></property>
		<property name="name" value="What is Java?"></property>
		<property name="answers">
			<map>
				<entry key="Java is a programming language" value="Sonoo Jaiswal"></entry>
				<entry key="Java is a Platform" value="Sachin Yadav"></entry>
			</map>
		</property>
	</bean>


	<!-- Setter Injection with Non-String Map (having dependent Object) Example -->
	<bean id="ans3" class="org.vik.spr12.si.map.Answer">
		<property name="id" value="1"></property>
		<property name="answer" value="Java is a Programming Language"></property>
		<property name="postedDate" value="12/12/2001"></property>
	</bean>
	<bean id="ans4" class="org.vik.spr12.si.map.Answer">
		<property name="id" value="2"></property>
		<property name="answer" value="Java is a Platform"></property>
		<property name="postedDate" value="12/12/2003"></property>
	</bean>

	<bean id="user3" class="org.vik.spr12.si.map.User">
		<property name="id" value="1"></property>
		<property name="name" value="Arun Kumar"></property>
		<property name="email" value="arun@gmail.com"></property>
	</bean>
	<bean id="user4" class="org.vik.spr12.si.map.User">
		<property name="id" value="2"></property>
		<property name="name" value="Varun Kumar"></property>
		<property name="email" value="Varun@gmail.com"></property>
	</bean>

	<bean id="ques12" class="org.vik.spr12.si.map.Question">
		<property name="id" value="1"></property>
		<property name="name" value="What is Java?"></property>
		<property name="answers">
			<map>
				<entry key-ref="ans3" value-ref="user3"></entry>
				<entry key-ref="ans4" value-ref="user4"></entry>
			</map>
		</property>
	</bean>

	<!-- Dependency Injection by using factory method -->
	<bean id="calc" class="org.vik.spr13.di.fm.Calculator"
		factory-method="getCalculator"></bean>








</beans>